<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div><h1>Hello Librain</h1></div>
		<a href="librain/book">manage books</a>
        <br />
		<br />
		<a href="librain/user">manage user</a>
		<br />
		<br />
        <a href="librain/history">view history</a>
		<br />
		<br />
		<br />
		<br />
		<button onclick="deleteRequest()" id="submitButton">signout</button>
	</body>
	<script>
		const backendUrl = "<%=backend%>";
		const storageToken = window.localStorage.getItem("token");
		if (!window.localStorage.getItem("token")) {
			window.location.href = "/";
		}
		function deleteRequest() {
			window.localStorage.removeItem("token");
			window.location.href = "/";
		}
	</script>
</html>
