<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<h4>Are you sure you want to return book <%= id%> this book???</h4>
		<div id="statusBar"></div>
		<button onclick="deleteRequest()" id="submitButton">return</button>
	</body>
	<script>
		const backendUrl = "<%=backend%>";
		let storageToken = window.localStorage.getItem("token");
		if (!window.localStorage.getItem("token")) {
			window.location.href = "/";
		}
		storageToken = JSON.parse(storageToken);

		function deleteRequest() {
			const submitButton = document.getElementById("submitButton");
			submitButton.disabled = true;
			const statusBar = document.getElementById("statusBar");
			statusBar.innerHTML = "request is on its way";
			const pathname = window.location.pathname;
			console.log(pathname);
			const id = pathname.split("/")[3];
			console.log(id);
			fetch(backendUrl + `/user/book/return/${id}`, {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
					Authorization: `Bearer ${storageToken}`,
				},
			})
				.then((res) => {
					if (!res.ok) {
						const err = new Error();
						err.message = res.body.message || "something went wrong";
						err.status = res.status;
						throw err;
					}
					window.location.href = "/user";
				})
				.catch((err) => {
					statusBar.innerHTML = `${err.status} ${err.message}`;
				});
		}
	</script>
</html>
